node-red-flow.json
[{"id":"f543564a.3e1688","type":"tab","label":"FVE","disabled":false,"info":""},{"id":"4a30b023.3f974","type":"mqtt in","z":"f543564a.3e1688","name":"","topic":"axpert/generalStatus","qos":"2","broker":"95839afc.e691b8","x":130,"y":160,"wires":[["f47a647b.c848d8"]]},{"id":"1ad99ff3.782a8","type":"debug","z":"f543564a.3e1688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"742f7ef4.9ff55","type":"ui_gauge","z":"f543564a.3e1688","name":"","group":"af409848.cca938","order":3,"width":2,"height":2,"gtype":"donut","title":"🔌Output","label":"W","format":"{{payload.outputPowerActive}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":200,"wires":[]},{"id":"906171fd.9eedc","type":"ui_gauge","z":"f543564a.3e1688","name":"","group":"af409848.cca938","order":2,"width":2,"height":2,"gtype":"donut","title":"🔋Battery","label":"%","format":"{{payload.batteryCapacity}}","min":0,"max":"100","colors":["#b30c00","#e6e600","#3acb3c"],"seg1":"20","seg2":"70","x":670,"y":240,"wires":[]},{"id":"c4412440.5a7168","type":"ui_gauge","z":"f543564a.3e1688","name":"","group":"af409848.cca938","order":5,"width":2,"height":2,"gtype":"donut","title":"⚙️Load","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":280,"wires":[]},{"id":"360402c5.12f6ae","type":"ui_gauge","z":"f543564a.3e1688","name":"","group":"af409848.cca938","order":1,"width":2,"height":2,"gtype":"donut","title":"☀️Power","label":"W","format":"{{msg.payload}}","min":"0","max":"2970","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":320,"wires":[]},{"id":"e516a2bd.6e47e","type":"ui_text","z":"f543564a.3e1688","group":"af409848.cca938","order":8,"width":0,"height":0,"name":"","label":"chargingAC","format":"{{msg.payload.status.chargingAC}}","layout":"row-spread","x":670,"y":400,"wires":[]},{"id":"8afa3599.d7b808","type":"ui_text","z":"f543564a.3e1688","group":"af409848.cca938","order":10,"width":0,"height":0,"name":"","label":"chargingSCC","format":"{{msg.payload.status.chargingSCC}}","layout":"row-spread","x":670,"y":440,"wires":[]},{"id":"67646c11.aa3554","type":"ui_text","z":"f543564a.3e1688","group":"af409848.cca938","order":11,"width":0,"height":0,"name":"","label":"charging","format":"{{msg.payload.status.charging}}","layout":"row-spread","x":670,"y":480,"wires":[]},{"id":"b4b720b2.9d68b","type":"ui_gauge","z":"f543564a.3e1688","name":"","group":"af409848.cca938","order":4,"width":2,"height":2,"gtype":"donut","title":"🔋Current","label":"A","format":"{{payload}}","min":"-50","max":"50","colors":["#b33600","#e6e600","#00c70d"],"seg1":"","seg2":"","x":840,"y":360,"wires":[]},{"id":"12075b84.96f664","type":"ui_text","z":"f543564a.3e1688","group":"af409848.cca938","order":7,"width":0,"height":0,"name":"","label":"Total energy","format":"{{msg.payload / 1000}} kWh","layout":"row-spread","x":670,"y":640,"wires":[]},{"id":"180a94f.5f8196b","type":"mqtt in","z":"f543564a.3e1688","name":"","topic":"axpert/totalEnergyProduced","qos":"2","broker":"95839afc.e691b8","x":110,"y":640,"wires":[["1cec65b8.1f398a"]]},{"id":"296c9276.ad665e","type":"function","z":"f543564a.3e1688","name":"","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":640,"wires":[["12075b84.96f664"]]},{"id":"e6b3da1b.143bd8","type":"ui_text","z":"f543564a.3e1688","group":"af409848.cca938","order":6,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":580,"wires":[]},{"id":"cc251692.b9e7a8","type":"mqtt in","z":"f543564a.3e1688","name":"","topic":"axpert/mode","qos":"2","broker":"95839afc.e691b8","x":110,"y":580,"wires":[["4225f96e.d44d98"]]},{"id":"65c5369f.421998","type":"function","z":"f543564a.3e1688","name":"(dis)charge","func":"var charge = parseInt(msg.payload.batteryChargingCurrent)\nvar discharge = parseInt(msg.payload.batteryDischargeCurrent)\n\nif(charge > 0)\n{\n    msg.payload = charge;\n}\nelse\n{\n    msg.payload = -discharge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["b4b720b2.9d68b"]]},{"id":"9bf84264.9474c","type":"function","z":"f543564a.3e1688","name":"0-fix","func":"msg.payload = parseInt(msg.payload.pvPower);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["360402c5.12f6ae"]]},{"id":"8a45d3c3.52464","type":"debug","z":"f543564a.3e1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":620,"wires":[]},{"id":"bbf19f31.360e8","type":"function","z":"f543564a.3e1688","name":"","func":"msg.payload = {\n    \"battery\": msg.payload == \"Battery\" ? true : false,\n    \"line\": msg.payload == \"Line\" ? true : false,\n    \"standby\": msg.payload == \"Standby\" ? true : false,\n    \"fault\": msg.payload == \"Fault\" ? true : false,\n    \"poweron\": msg.payload == \"Power on\" ? true : false,\n};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["110aa042.6cdde"]]},{"id":"110aa042.6cdde","type":"function","z":"f543564a.3e1688","name":"Join","func":"\nout = []\nfor (var i in msg.payload)\n\tif(msg.payload[i])\n\t{\n\t    // Capitalize first letter\n\t\tout.push(i.charAt(0).toUpperCase() + i.slice(1));\n\t}\n\nmsg.payload = out.join(\", \");\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["e6b3da1b.143bd8","35429ce6.5c5d54","1c0e8a01.4ae406"]]},{"id":"e1760aa8.a337c8","type":"debug","z":"f543564a.3e1688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":1000,"wires":[]},{"id":"80a6333f.4f1da","type":"mqtt in","z":"f543564a.3e1688","name":"","topic":"pylontech/+/SOC/value","qos":"2","broker":"95839afc.e691b8","x":160,"y":940,"wires":[["604f847e.914e7c"]]},{"id":"b328afa6.3e254","type":"function","z":"f543564a.3e1688","name":"Influx format","func":"\nvar payload = msg.payload;\nvar fl = parseFloat(payload);\n\n\ntopic = msg.topic.split(\"/\");\n\nname = topic[1] + \"/\" + topic[2];\n\nunitIndex = parseInt(topic[1].replace(/\\D/g,''));\n\nmsg.payload = {};\n\nif(!isNaN(fl))\n{\n    msg.payload = [{\n        value: fl},\n        {\n            unit: unitIndex,\n            param: topic[2]\n        }\n    ];\n    \n    return msg;\n} \nelse\n{\n    return null;\n}\n\n\n","outputs":1,"noerr":0,"x":630,"y":940,"wires":[["e1760aa8.a337c8"]]},{"id":"ed9fcbbc.34fdc8","type":"mqtt in","z":"f543564a.3e1688","name":"","topic":"pylontech/+/Curr/value","qos":"2","broker":"95839afc.e691b8","x":160,"y":1000,"wires":[["604f847e.914e7c"]]},{"id":"604f847e.914e7c","type":"delay","z":"f543564a.3e1688","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":940,"wires":[["b328afa6.3e254"]]},{"id":"8e583407.822228","type":"ui_text","z":"f543564a.3e1688","group":"af409848.cca938","order":12,"width":0,"height":0,"name":"","label":"Batt. voltage","format":"{{msg.payload.batteryVoltage}}","layout":"row-spread","x":670,"y":520,"wires":[]},{"id":"297f61bf.91eeae","type":"ui_template","z":"f543564a.3e1688","group":"af409848.cca938","name":"","order":13,"width":0,"height":0,"format":"<style>\n  .mode-cez {\n    background-color:#ff9d96 !important;\n    border-radius: 1em;\n  }\n  .mode-fve {\n    background-color:#8eff8c !important;\n    border-radius: 1em;\n  }\n \n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1240,"y":360,"wires":[[]]},{"id":"35429ce6.5c5d54","type":"function","z":"f543564a.3e1688","name":"","func":"msg2 = {};\n\nif(msg.payload != \"Battery\")\n{\n    msg2.className = \"mode-cez\";\n} else {\n    msg2.className = \"\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":1000,"y":460,"wires":[[]]},{"id":"1c0e8a01.4ae406","type":"function","z":"f543564a.3e1688","name":"","func":"msg2 = {};\n\nif(msg.payload === \"Battery\")\n{\n    msg2.className = \"mode-fve\";\n} else {\n    msg2.className = \"\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":1000,"y":420,"wires":[["360402c5.12f6ae"]]},{"id":"f47a647b.c848d8","type":"json","z":"f543564a.3e1688","name":"","property":"payload","action":"","pretty":false,"x":310,"y":160,"wires":[["742f7ef4.9ff55","1ad99ff3.782a8","906171fd.9eedc","9bf84264.9474c","65c5369f.421998","e516a2bd.6e47e","8afa3599.d7b808","67646c11.aa3554","8e583407.822228","cb2d274.7ed27d8","70bc79ed.cec858","ae3a0b8.c4f97f8","dc2aaff8.b4d29"]]},{"id":"b4322f72.b5f0f","type":"ui_chart","z":"f543564a.3e1688","name":"","group":"6983e335.30f664","order":0,"width":"24","height":"8","label":"Baterie","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":960,"y":60,"wires":[["e7119142.95da5"],[]]},{"id":"cb2d274.7ed27d8","type":"change","z":"f543564a.3e1688","name":"batteryCapacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batteryCapacity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Baterie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":20,"wires":[["a41d403e.138a7"]]},{"id":"c1ba87aa.f70708","type":"persist out","z":"f543564a.3e1688","name":"battery","storageNode":"ecf045bc.8ee7a8","x":790,"y":100,"wires":[["b4322f72.b5f0f"]]},{"id":"e7119142.95da5","type":"persist in","z":"f543564a.3e1688","name":"battery","storageNode":"ecf045bc.8ee7a8","x":1110,"y":100,"wires":[]},{"id":"a41d403e.138a7","type":"delay","z":"f543564a.3e1688","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":60,"wires":[["b4322f72.b5f0f"]]},{"id":"70bc79ed.cec858","type":"change","z":"f543564a.3e1688","name":"batteryCapacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pvPower","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Výroba","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["a41d403e.138a7"]]},{"id":"ae3a0b8.c4f97f8","type":"change","z":"f543564a.3e1688","name":"batteryCapacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.outputPowerActive","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Spotřeba","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":100,"wires":[["a41d403e.138a7"]]},{"id":"4225f96e.d44d98","type":"json","z":"f543564a.3e1688","name":"","property":"payload","action":"","pretty":false,"x":250,"y":580,"wires":[["bbf19f31.360e8","8a45d3c3.52464"]]},{"id":"1cec65b8.1f398a","type":"json","z":"f543564a.3e1688","name":"","property":"payload","action":"","pretty":false,"x":250,"y":640,"wires":[["296c9276.ad665e","8a45d3c3.52464"]]},{"id":"dc2aaff8.b4d29","type":"function","z":"f543564a.3e1688","name":"0-fix","func":"msg.payload = parseInt(msg.payload.outputLoadPercent);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["c4412440.5a7168"]]},{"id":"95839afc.e691b8","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af409848.cca938","type":"ui_group","name":"Electricity","tab":"d73093a4.fa58","order":1,"disp":true,"width":"6","collapse":false},{"id":"6983e335.30f664","type":"ui_group","z":"","name":"Grafy","tab":"59b0c0f.3aae04","disp":true,"width":"24","collapse":false},{"id":"ecf045bc.8ee7a8","type":"persist-store","z":"","filename":"persistence.json","interval":"60"},{"id":"d73093a4.fa58","type":"ui_tab","name":"FVE","icon":"brightness_7","order":1},{"id":"59b0c0f.3aae04","type":"ui_tab","z":"","name":"Grafy","icon":"fa-line-chart","order":2}]
